.alpha {
    font-family: Gabriola;
    color: crimson;
    list-style-type: lower-alpha;
}
ul{
    color: blue;
    list-style-type: upper-roman;
    font-family: Arial;
}
ol{
    font-family: Calibri;
    color: darkgreen;
}
